* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: auto;
    max-width: 100vw;
    background-color: #FFF5FB;
}

header {
    background-color: #FFF5FB;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    color: #333333;
}

.top-links {
    display: block;
    padding: 0.01vw 1vw;
}

.top-links {
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    font-weight: 900;
}
.top {
    list-style-type: none;
    /* padding-left: 0px; */
    line-height: 0.9vw;
}

.nav-link {
    background-color: #FFF5FB;
    color: #ffb2c2;
    /* font-size: clamp(1rem, 1rem + 1vw, 1.5rem); */
    font-size: 1vw;
    padding: 1em;
}

.nav-link:hover {
    color: #FFF5FB;
    background-color: #ffb2c2;
    border-radius: 2vw;
    padding: 1vw;
    font-style: italic;
}

.contact {
    color:#ffb2c2;
    background-color: #FFF5FB;
}
.contact:hover {
    background-color: #333333;
    color: #FFF5FB;
    border-radius: 2vw;
}

.skate {
    width: 100%;
    max-width: 60vw;
    margin-top: 2vw;
    height: auto;
    position: absolute;
    align-items: center;
    mix-blend-mode: multiply;
}

.profile-pic {
    width: 4vw;
    border-radius: 2vw;
}

.search {
    /* border: 0px solid #333333; */
    padding-top: 0vw;
    padding-bottom: 2vw;
    padding-left: 2.5vw;
    padding-right: 15vw;
    margin: 0 auto;
    margin-top: 6vw;
    margin-left: 20vw;
    border: 30%;
    width: 50vw;
    height: 28vw;
    max-height: 28vw;
    max-width: 60vw;
    box-shadow: 0vw 0vw 1vw 0.2vw #ead1dc;
    background-color: #FFF9FD;
    line-height: 1.8vw;
    border-radius: 2vw 8vw 8vw 2vw;
}

.trend {
    color: #333333;
    font-size: 1vw;
    /* padding-bottom: 0px; */
    margin-top: 2vw;
    padding-top: 2vw;
}

.find {
    max-width: 1.8vw;
    /* padding-left: 0; */
}

.blink {
    max-width: 2vw;
    /* padding-left: 0; */
}

.trending-searches {
    color: #333333;
    opacity: 60%;
    font-style: italic;
}

.bottom {
    font-size: 2vw;
    list-style-type: none;
    /* padding-left: 0px; */
    line-height: 2.5vw;
    padding-left: 2vw;
}

.link6 {
    color: #333333;
    font-size: 2vw;
}

.link6:hover {
    color: cornflowerblue;
    font-style: italic;
}

.link1 {

    color: #333333;
    font-size: 2vw;
    padding-top: 0%;
}

.link1:hover {
    color: #bcb72a;
    font-style: italic;
}

.link3 {

    color: #333333;
    font-size: 2vw;
    padding-top: 0%;
}

.link3:hover {
    color: #c1aadf;
    font-style: italic;
}

.link4 {

    color: #333333;
    font-size: 2vw;
    padding-top: 0%;
}

.link4:hover {
    color: #e34a4a;
    font-style: italic;
}

.link2 {

    color: #333333;
    font-size: 2vw;
    padding-top: 0%;
}

.link2:hover {
    color: #ffb2c2;
    font-style: italic;
}

.link5 {

    color: #333333;
    font-size: 2vw;
    padding-top: 0%;
}

.link5:hover {
    color: #bcb72a;
    font-style: italic;
}

/* .right-links {
    align-items: right;
} */

/* main {
    max-width: 2000px;
    width: 100%;
} */

.copyright {
    color: #333333;
    font-size: 8px;
    padding-top: 0%;
    left: 20px;
    position: fixed;
    bottom: 20px;
}

.help {
    color: #333333;
    font-size: 10px;
    padding-top: 0%;
    right: 20px;
    position: fixed;
    bottom: 20px;
}

.footer:hover {
    color: #bcb72a;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}