* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    /* background-image: url(images/gimbap.jpg); */
    width: 100vw;
    right: 0;
}

header {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-self: flex-start;
    background-color: rgba(119, 145, 25, 0.5);
    width: 10vw;
    height: 97vh;
    color: #f8fcf7;
    border-radius: 0vw 0vw 10vw 0vw;
}

main {
    overflow-x: auto;
    width: 100vw;
    height: auto;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    color: #333333;
}

#background {
    width: 100vw;
    object-fit: cover;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #FBF9FF;
    z-index: 0;
    position: fixed;
}

.box {
    /* background-color: rgba(119, 145, 25, 0.9); */
    width: 11vw;
    height: 27.5vw;
    margin-left: 0.5vw;
    margin-top: 1.9vw;
    text-align: center;
    color: #f8fcf7;
    left: 10vw;
    position: fixed;
    /* mix-blend-mode: multiply; */
}

.box-bottom {
    opacity: 50%;
    border-radius: 0vw 0vw 8vw 8vw;
    background-color: rgba(119, 145, 25, 0.9);
}

#profile-pic {
    width: 11vw;
    height: 11vw;
    border-radius: 0vw 2vw 0vw 0vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}

/* .short {
    padding-top: 1vw;
    font-size: 0.8vw;
    text-align: center;
    line-height: 1.2vw;
    within paragraph
    margin-bottom: 2vw;
    below paragraph
} */

.flowers {
    font-size: 1.1vw;
}

.left {
    padding-left: 1vw;
}

.title {
    padding-bottom: 2vw;
    padding-top: 2vw;
    font-size: 2.2vw;
    padding-left: 0.1vw;
}

.discover {
    font-size: 0.8vw;
    margin-bottom: 0.2vw;
    opacity: 50%;
}

.main-nav {
    line-height: 2vw;
    /* within paragraph */
    /* margin-bottom: 50px; */
    /* below paragraph */
    font-size: 1vw;
    width: 100vw;
}

.main-nav1 {
    color: #f8fcf7;
    padding: 0.5vw 0.8vw;
}

.main-nav1:hover {
    background-color: #e34a4a;
    padding: 0.5vw 0.8vw;
    color: #f8fcf7;
    border-radius: 2vw;
}

.main-nav2 {
    color: #f8fcf7;
    padding: 0.5vw 0.8vw;
}

.main-nav2:hover {
    background-color: #c1aadf;
    padding: 0.5vw 0.8vw;
    color: #f8fcf7;
    border-radius: 2vw;
}

.main-nav3 {
    color: #f8fcf7;
    padding: 0.5vw 0.8vw;
}

.main-nav3:hover {
    background-color: cornflowerblue;
    padding: 0.5vw 0.8vw;
    color: #f8fcf7;
    border-radius: 2vw;
}

.main-nav4 {
    color: #f8fcf7;
    padding: 0.5vw 0.8vw;
}

.main-nav4:hover {
    background-color: #c1aadf;
    padding: 0.5vw 0.8vw;
    color: #f8fcf7;
    border-radius: 2vw;
}

.main-nav5 {
    color: #f8fcf7;
    padding: 0.5vw 0.8vw;
}

.main-nav5:hover {
    background-color: #e34a4a;
    padding: 0.5vw 0.8vw;
    color: #f8fcf7;
    border-radius: 2vw;
}

.main-nav6 {
    color: #f8fcf7;
    padding: 0.5vw 0.8vw;
}

.main-nav6:hover {
    background-color: pink;
    padding: 0.5vw 0.8vw;
    color: #f8fcf7;
    border-radius: 2vw;
}

.main-nav7 {
    color: #f8fcf7;
    padding: 0.5vw 0.8vw;
}

.main-nav7:hover {
    background-color: #c1aadf;
    padding: 0.5vw 0.8vw;
    color: #f8fcf7;
    border-radius: 2vw;
}

.scroll {
    width: 78vw;
    height: 94vh;
    align-content: right;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    display: flex;
    /* padding: 0px 5px; */
    margin-top: 1.4vw;
    margin-bottom: 1vw;
    /* border-radius: 2vw 0vw 0vw 2vw; */
}

.hscroll>div {
    background-color: #f8fcf7;
    width: 10vw;
    height: 12vw;
    transform: rotate(-90deg);
    transform-origin: right top;
}

.instructions {
    font-size: 1vw;
    /* margin-bottom: 1vw; */
    background-color:  rgba(119, 145, 25, 0.5);
    color: #f8fcf7;
    writing-mode: vertical-rl;
    width: 4vw;
    height: 24vw;
    font-weight: 600;
    align-self: center;
    transform: rotate(-180deg);
    transform: translateX(47vw);
    border-radius: 2vw;
    padding: 0.5vw 0.2vw;
}

.about {
    /* background-color: rgba(255, 171, 171, 0.5); */
    background-color: rgba(119, 145, 25, 0.5);
    width: 30vw;
    height: 100vw;
    padding: 1vw 2vw;
    color: #f8fcf7;
    font-size: 1.5vw;
    size: auto;
    padding-bottom: 5vw;
    transform: translateX(200%);
    
}

.info {
    padding-top: 0.1vw;
    line-height: 1.2vw;
    padding-bottom: 0.1vw;
    width: 20vw;
}

.city {
    width: 100%;
    height: auto;
    max-width: 4vw;
    padding: 0.2vw;
    border: 0.1vw white solid;
    background-color: white;
    margin: 0.5vw;
    
}

.blah {
    font-size: 12px;
    line-height: 10px;
    float: right;
    padding-top: 25px;
    padding-right: 60px;

}

.icon-gallery {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 400px;
    grid-gap: 5px;
    /* border-bottom: 100px; */
    padding-top: 10px;
}

.icon-gallery img {
    width: 100%;
}

.blog1 {
    max-width: 300px;
    max-height: 400px;
    padding: 10px;
    margin: 0vw 1vw;
    background-color: rgba(119, 145, 25, 0.3);
    margin-left: auto;
    margin-right: auto;
}

.blog2 {
    max-width: 300px;
    max-height: 400px;
    padding: 10px;
    margin: 0vw 1vw;
    background-color: rgba(119, 145, 25, 0.3);

}

.blog3 {
    max-width: 300px;
    max-height: 400px;
    padding: 10px;
    margin: 0vw 1vw;
    background-color: rgba(119, 145, 25, 0.3);
}

.blog4 {
    max-width: 300px;
    max-height: 400px;
    padding: 10px;
    margin: 0vw 1vw;
    background-color: rgba(119, 145, 25, 0.3);
}

.blog5 {
    max-width: 300px;
    max-height: 400px;
    padding: 10px;
    margin: 0vw 1vw;
    background-color: rgba(119, 145, 25, 0.3);
}

.cage {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 320px;
    max-height: 420px;
}

.gallery2 {
    transform: translateX(44%);
    display: flex;
}

.music {
    bottom: 0;
    position: fixed;
}

.copyright {
    font-size: 8px;
    position: fixed;
    bottom: 10px;
    color: #f8fcf7;
}

.help {
    color: #f8fcf7;
    font-size: 10px;
    padding-top: 0%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

h2 {
    font-size: 1.8vw;
}

.container-audio {
    width: 100vw;
    /* height: auto; */
    max-height: 2vw;
    /* padding: 20px; */
    /* border-radius: 5px; */
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: auto;
    margin:0%;
    left: 0px;
    /* overflow: hidden; */

}

audio {
    width: 100%;
    height: 1.4vw;
    /* padding-right: 0vw; */
    background-color: #404040;
    top: 0vw;
}

audio:nth-child(2),
audio:nth-child(4),
audio:nth-child(6) {
    margin: 0;
    height: 1.4vw;
}

.container-audio .colum1 {
    width: 10vw;
    height: 10em;
    border-radius: 1vw;
    margin: 0vw;
    display: inline-block;
    position: relative;
}

.container-audio .colum1:last-child {
    margin: 0;
}

.container-audio .colum1 .row {
    width: 100%;
    height: 1vw;
    border-radius: 0vw;
    /* background: linear-gradient(to up, #7700aa, #8800ff); */
    position:static;
    -webkit-animation: Rofa 10s infinite ease-in-out;
    animation: Rofa 10s infinite ease-in-out;
}

/* .container-audio .colum1:nth-of-type(1) .row {
    -webkit-animation-delay: 3.99s;
    animation-delay: 3.99s;
}

.container-audio .colum1:nth-of-type(2) .row {
    -webkit-animation-delay: 3.80s;
    animation-delay: 3.80s;
}

.container-audio .colum1:nth-of-type(3) .row {
    -webkit-animation-delay: 3.70s;
    animation-delay: 3.70s;
}

.container-audio .colum1:nth-of-type(4) .row {
    -webkit-animation-delay: 3.60s;
    animation-delay: 3.60s;
}

.container-audio .colum1:nth-of-type(5) .row {
    -webkit-animation-delay: 3.50s;
    animation-delay: 3.50s;
}

.container-audio .colum1:nth-of-type(6) .row {
    -webkit-animation-delay: 3.40s;
    animation-delay: 3.40s;
}

.container-audio .colum1:nth-of-type(7) .row {
    -webkit-animation-delay: 3.30s;
    animation-delay: 3.30s;
}

.container-audio .colum1:nth-of-type(8) .row {
    -webkit-animation-delay: 3.20s;
    animation-delay: 3.20s;
}

.container-audio .colum1:nth-of-type(9) .row {
    -webkit-animation-delay: 3.10s;
    animation-delay: 3.10s;
}

.container-audio .colum1:nth-of-type(10) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.container-audio .colum1:nth-of-type(11) .row {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.container-audio .colum1:nth-of-type(12) .row {
    -webkit-animation-delay: 2.10s;
    animation-delay: 2.10s;
}

.container-audio .colum1:nth-of-type(13) .row {
    -webkit-animation-delay: 2.20s;
    animation-delay: 2.20s;
}

.container-audio .colum1:nth-of-type(14) .row {
    -webkit-animation-delay: 1.30s;
    animation-delay: 1.30s;
}

.container-audio .colum1:nth-of-type(15) .row {
    -webkit-animation-delay: 1.40s;
    animation-delay: 1.40s;
}

.container-audio .colum1:nth-of-type(16) .row {
    -webkit-animation-delay: 1.50s;
    animation-delay: 1.50s;
}

.container-audio .colum1:nth-of-type(17) .row {
    -webkit-animation-delay: 1.60s;
    animation-delay: 1.60s;
}

.container-audio .colum1:nth-of-type(18) .row {
    -webkit-animation-delay: 1.70s;
    animation-delay: 1.70s;
}

.container-audio .colum1:nth-of-type(19) .row {
    -webkit-animation-delay: 1.80s;
    animation-delay: 1.80s;
}

.container-audio .colum1:nth-of-type(20) .row {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes Rofa {
    0% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: #e34a4a;
        bottom: 0px;
    }

    5% {
        height: 100%;
        -webkit-transform: translatey(15px);
        transform: translatey(15px);
        background-color: #bcb72a;
        bottom: 0px;
    }

    10% {
        height: 90%;
        transform: translatey(0);
        -webkit-transform: translatey(0);
        background-color: cornflowerblue;
        bottom: 0px;
    }

    15% {
        height: 80%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #ffb2c2;

    }

    20% {
        height: 70%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: #ffb2c2;
        bottom: 0px;
    }

    25% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: #ffb2c2;
        bottom: 0px;
    }

    30% {
        height: 70%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: #ffb2c2;
        bottom: 0px;
    }

    35% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #ffb2c2;
    }

    40% {
        height: 60%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #ffb2c2;
    }

    45% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #ffb2c2;
    }

    50% {
        height: 50%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #ffb2c2;
    }

    55% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        background-color: #ffb2c2;
        bottom: 0
    }

    60% {
        height: 40%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #c1aadf;
    }

    65% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #c1aadf;
    }

    70% {
        height: 30%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #c1aadf;
    }

    75% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #e34a4a;
    }

    80% {
        height: 20%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #e34a4a;
    }

    85% {
        height: 0%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #e34a4a;
    }

    90% {
        height: 10%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #e34a4a;
    }

    95% {
        height: 5%;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #e34a4a;
    }

    100% {
        height: 0;
        -webkit-transform: translatey(0);
        transform: translatey(0);
        bottom: 0px;
        background-color: #e34a4a;
    }
} */

audio::-webkit-media-controls-panel {
    background-color: #404040;
    height: 1.4vw;
}

audio::-webkit-media-controls-current-time-display {
    color: white;
    height: 1.4vw;
}