* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {}

header {}

main {
    display: flex;
}

.left {
    width: 15%;
    background-color: #bcb72a;
    padding: 10px 30px;
    height: 100vh;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: #f5f18e;
    font-style: italic;
    font-size: 25px;
}

#myBtn {
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 12px;
    border: none;
    background-color: #ebeacc;
    margin-bottom: 50px;
    margin-top: 20px;
}

.main-nav {
    line-height: 30px;
    /* within paragraph */
    margin-bottom: 30px;
    /* below paragraph */
    font-size: 15px;
    padding-left: 15px;
}

.main-nav1 {
    color: #f5f18e;
}

.main-nav1:hover {
    color: #ffb2c2;
}

.main-nav2 {
    color: #f5f18e;
}

.main-nav2:hover {
    color: #c1aadf;
}

.main-nav3 {
    color: #f5f18e;
}

.main-nav3:hover {
    color: cornflowerblue;
}

.main-nav4 {
    color: #f5f18e;
}

.main-nav4:hover {
    color: #c1aadf;
}

.main-nav5 {
    color: #f5f18e;
}

.main-nav5:hover {
    color: #e34a4a;
}

.main-nav6 {
    color: #f5f18e;
}

.main-nav6:hover {
    color: #ffb2c2;
}

.main-nav7 {
    color: #f5f18e;
}

.main-nav7:hover {
    color: #c1aadf;
}

.title2 {
    color: #918e2f;
    font-size: 20px;
}

.contacts {
    list-style: none;
    padding-left: none;
    font-size: 12px;
    line-height: 30px;
    color: #f5f18e;
}

.right {
    background-color: #bcb72a;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap
}

.search-container {
    width: 600px;
    height: 27px;
    background-color: #918e2f;
    margin: 10px;
    border-radius: 12px;
    color: #f5f18e;
    padding-bottom: 15px;
    padding-top: 10px;
    display: flex;
}

.envelope {
    color: #f5f18e;
    padding-left: 380px;
    font-size: 30px;
}

.search {
    color: #f5f18e;
    font-size: 15px;
    display: flex;
    padding-top: 8px;
    font-style: italic;
    padding-left: 30px;
}

.active {
    height: 27px;
    width: 100px;
    border: #f5f18e solid 1px;
    color: #f5f18e;
    margin: 10px 0px 0px 0px;
    border-radius: 12px;
    padding-left: 30px;
    padding-bottom: 8px;
    padding-top: 17px;
    margin-left: 30px;
    font-style: italic;
    font-size: 15px;
}

.icons {
    display: flex;
    padding-left: 30px;
}

.question {
    font-size: 18px;
    width: 15px;
    height: 15px;
    border: #f5f18e solid 1px;
    border-radius: 50%;
    padding: 4px 4px 8px 8px;
    margin: 23px 10px 0px 10px;
    color: #f5f18e;
}

.settings {
    font-size: 20px;
    width: 15px;
    height: 15px;
    border: #f4f19f solid 1px;
    border-radius: 50%;
    padding: 1px 4px 10px 6px;
    margin: 23px 10px 0px 10px;
    color: #f4f19f;
}

.lines {
    font-size: 16px;
    width: 15px;
    height: 15px;
    border: #f0efbe solid 1px;
    border-radius: 50%;
    padding: 2px 6px 10px 6px;
    margin: 23px 10px 0px 10px;
    color: #f0efbe;

}

.guest-container {
    /* background-color: #ebeacc; */
    /* border: #f0efbe solid 1px; */
    width: 100px;
    height: 37px;
    border-radius: 12px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;


}

/* .guest {
    font-size: 15px;
    color: #4d4b0d;
    padding-right: 5px;
} */

.hunny {
    border-radius: 50%;
    width: 40px;
    border: #f0efbe solid 1px;


}

.email-box {
    width: 75vw;
    height: 85vh;
    background-color: #ebeacc;
    display: flex;
    margin: 10px;
    border-radius: 12px;
    flex-direction: column;
    overflow-y: scroll;
}

.line1-left {
    width: 75vw;
    height: 50px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
}

.box {
    width: 12px;
    height: 12px;
    border: #333333 solid 2px;
    margin: 15px 1px 15px 15px;
    border-radius: 2px;
    margin-left: 25px;
}

.arrow {
    margin: 18px 5px;
    font-size: 10px;
    color: #333333;
}

.refresh {
    margin: 10px 20px;
    font-size: 18px;
    color: #333333;
}

.dots {
    margin: 12px 10px;
    font-size: 20px;
    color: #333333;
}

.line1-right {
    width: 75vw;
    height: 50px;
    padding-top: 5px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    justify-content: right;
}

.numbers {
    margin: 15px 10px;
    font-size: 12px;
    color: #bcb72a;
    align-items: right;
}

.arrows {
    margin: 12px 20px;
    font-size: 15px;
    align-items: right;
}

.line2 {
    width: 50vw;
    height: 30px;
    display: flex;
    font-size: 15px;
    margin-left: 40px;
    padding-left: 45px;
    word-spacing: 9em;
    color: #bcb72a;
}

.line3 {
    height: 16px;
    width: 220px;
    background-color: #918e2f;
    margin-left: 10px;
    border-radius: 12px 12px 0px 0px;
}

.email-container {
    padding: 0px;
    overflow-y: scroll;
}

.email {
    line-height: 40px;
    display: flex;
    border-bottom: #dbdabd solid 1px;
    margin: 0;
    font-size: 14px;
    font-weight: 550;
    color: #333333;
}

.email-read {
    line-height: 40px;
    display: flex;
    border-bottom: #c4c3a9 solid 1px;
    margin: 0;
    background-color: #dbdabd;
    font-size: 14px;

    color: #878674;
    /* font-style: italic; */
}

.star {
    font-size: 20px;
    padding-top: 4px;
    font-style: normal;
    color: #333333;
}

.arrow-list {
    font-size: 15px;
    padding-top: 4px;
    font-style: normal;
    color: #333333;
}
.words {
    text-align-last: right;
}

.descriptions {
    font-style: italic;
    color: #c9c9ad;
    font-size: 12px;
    font-weight: 100;
    text-align-last: right;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    color: #333333;
}

.copyright {
    font-size: 8px;
    position: fixed;
    bottom: 10px;
    color: #333333;
}

.help {
    color: #333333;
    font-size: 10px;
    padding-top: 0%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

/* The Modal (background) */

.modal {
    /* display: none; if you want to have it not pop up on loading the page */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    bottom: 0;
    right: 0;
    width: 40vw;
    /* Full width */
    height: 75vh;
    /* Full height */
    /* overflow: auto; Enable scroll if needed */
    margin-right: 150px;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0px 0px 9px 0.8px #333333;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff7f9;
    /* margin: 15% auto; 15% from the top and centered */

    width: 100%;
    /* Could be more or less, depending on screen size */
    border-radius: 12px 12px 0px 0px;
}

.modal-header {
    padding-top: 10px;
    padding-left: 20px;
    background-color: #ffe6eb;
    color: #333333;
    border-radius: 5px 5px 0px 0px;
}

.modal-body {
    padding: 10px;
    color: #fff7f9;
}

.modal-footer {
    padding: 2px 16px;
    padding-bottom: 70px;
    color: #fff7f9;
}

/* The Close Button */
.close {
    color: #ffb2c2;
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 8px;
}

.close:hover,
.close:focus {
    color: #fa8ea4;
    text-decoration: none;
    cursor: pointer;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 2px;
    /* border: 1px solid #ccc; Gray border */
    /* border-radius: 4px; Rounded borders */
    /* box-sizing: border-box; Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: none;
    border: none;
    background-color: #fff7f9;
    overflow: auto;
}

.new {
    height: 30px;
    width: 100%;
    font-style: italic;
}

#country {
    border-bottom: #ab6876 solid 1px;
    text-align: right;
}

#fname, .subject2 {
    width: 80%;
    color: #fa8ea4;

}

#subject {
    width: 70%;
    font-size: 14px;
    font-style: italic;
    color: #fa8ea4;
}
#subject1 {
    width: 70%;
    font-size: 16px;
    color: #fa8ea4;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ffb2c2;
    color: #fff7f9;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #fa8ea4;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    /* padding: 20px; */
    background-color: #fff7f9;
    height: auto;
    margin: 0;
}