* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {}

header {}

main {
    display: flex;
    background-color: #bcb72a;
}

.left {
    width: 15%;
    background-color: #bcb72a;
    padding: 0vw 1vw;
    height: 100vh;
    margin-right: 4.5vw;
    margin-left: 0.5vw;
}

.title {
    margin-top: 0.5vw;
    padding-bottom: 0vw;
    padding-left: 1vw;
    color: #f5f18e;
    font-style: italic;
    font-size: 4vw;
}

#myBtn {
    font-size: 2vw;
    font-weight: 900;
    padding: 5vw 5vw;
    border-radius: 8vw;
    border: none;
    background-color: #918e2f;
    color: #f5efff;
    margin-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 1vw;
}
#myBtn:hover {
    color: #918e2f;
    background-color: #f5efff;
}

#myBtn:active {
    box-shadow: 0.5vw 0.5vw 0.5vw 0.2vw #ada923;
      transform: translatex(1vw);
    }
.main-nav {
    line-height: 0.5vw;
    /* within paragraph */
    margin-bottom: 1vw;
    /* below paragraph */
    padding-left: 0vw;
}
.mainnav-home {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-home:hover {
    color: #ffb2c2;
    font-size: 3.5vw;
}

.mainnav-bio {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-bio:hover {
    color: #a382cf;
    font-size: 3.5vw;
}

.mainnav-illustration {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-illustration:hover {
    color: cornflowerblue;
    font-size: 3.5vw;
}

.mainnav-storyboards {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-storyboards:hover {
    color: #ffb2c2;
    font-size: 3.5vw;
}

.mainnav-animation {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-animation:hover {
    color: #a382cf;
    font-size: 3.5vw;
}

.mainnav-resume {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-resume:hover {
    color: #e34a4a;
    font-size: 3.5vw;
}

.mainnav-sketchbook {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-sketchbook:hover {
    color: #ffb2c2;
    font-size: 3.5vw;
}

.mainnav-store {
    color: #f5f18e;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.mainnav-store:hover {
    color: #e34a4a;
    font-size: 4vw;
}

.other {
    margin-top: 1vw;
}

.title2 {
    color: #918e2f;
    font-size: 1vw;
}

.contacts1 {
    list-style: none;
    padding-left: 0.5vw;
    font-size: 0.8vw;
    line-height: 1vw;
    color: #f5f18e;
}

.contacts2 {
    list-style: none;
    padding-left: 0.5vw;
    font-size: 0.8vw;
    line-height: 1vw;
    color: #f5f18e;
}

.contacts1:hover {
    font-style: italic;
    font-size: 1vw;
}

.contacts2:hover {
    font-style: italic;
    font-size: 1vw;
}

.right {
    background-color: #bcb72a;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap
}

.search-container {
    width: 41vw;
    height: 2.1vw;
    background-color: #918e2f;
    margin: 1vw;
    border-radius: 5vw;
    color: #f5f18e;
    padding-bottom: 1vw;
    padding-top: 0.8vw;
    display: flex;
}

.envelope {
    color: #f5f18e;
    padding-left: 28vw;
    font-size: 2vw;
    position: relative;
    font-style: normal;
}

.search {
    color: #f5f18e;
    font-size: 1vw;
    display: flex;
    font-style: italic;
    padding-left: 1vw;
}

.active {
    height: 2vw;
    width: 6.5vw;
    border: #f5f18e solid 0.1vw;
    color: #f5f18e;
    margin: 1vw 0vw 0vw 0vw;
    border-radius: 2vw;
    padding-left: 2vw;
    padding-bottom: 0.5vw;
    padding-top: 1.1vw;
    margin-left: 2vw;
    font-style: italic;
    font-size: 1.2vw;
}

.icons {
    display: flex;
    padding-left: 1vw;
    /* padding-top: 0.3vw; */
}

.question {
    font-size: 1.2vw;
    width: 1.5vw;
    height: 1.5vw;
    border: #f5f18e solid 0.1vw;
    border-radius: 50%;
    padding: 0.6vw 0.2vw 0.4vw 0.8vw;
    margin: 1.5vw 1vw 0vw 0vw;
    color: #f5f18e;
}

.settings {
    font-size: 1.7vw;
    width: 1.5vw;
    height: 1.5vw;
    border: #f4f19f solid 0.1vw;
    border-radius: 50%;
    padding: 0.2vw 0.3vw 0.8vw 0.6vw;
    margin: 1.5vw 1vw 0vw 0vw;
    color: #f4f19f;
}

.lines {
    font-size: 1.2vw;
    width: 1.5vw;
    height: 1.5vw;
    border: #f0efbe solid 0.1vw;
    border-radius: 50%;
    padding: 0.3vw 0.3vw 0.6vw 0.7vw;
    margin: 1.5vw 1vw 0vw 0vw;
    color: #f0efbe;

}

.guest-container {
    /* background-color: #ebeacc; */
    /* border: #f0efbe solid 1px; */
    width: 8vw;
    height: 6vw;
    padding: 0vw 0.5vw;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;


}
.hunny {
    border-radius: 50%;
    width: 6vw;
    margin-right: 0.1vw;
    border: #f0efbe solid 0.1vw;


}

.email-box {
    width: 75vw;
    height: 85vh;
    background-color: #ebeacc;
    display: flex;
    margin: 1vw;
    border-radius: 2vw;
    flex-direction: column;
    overflow-y: scroll;
}

.line1-left {
    width: 75vw;
    height: 3vw;
    border-radius: 1.2vw 1.2vw 0vw 0vw;
    display: flex;
    margin-top: 0.3vw;
    margin-left: 0.5vw;
}

.box {
    width: 1vw;
    height: 1vw;
    border: #333333 solid 0.1vw;
    margin: 1vw 0.1vw 1vw 1vw;
    border-radius: 0.2vw;
    margin-left: 1vw;
}

.arrow {
    margin: 1vw 0vw;
    font-size: 0.5vw;
    color: #333333;
}

.refresh {
    margin: 0.7vw 1vw;
    font-size: 1.2vw;
    color: #333333;
}

.dots {
    margin: 0.7vw 0.1vw;
    font-size: 1.4vw;
    color: #333333;
}

.line1-right {
    width: 75vw;
    height: 3vw;
    padding-top: 0.3vw;
    /* border-radius: 12px 12px 0px 0px; */
    display: flex;
    justify-content: right;
}

.numbers {
    margin: 1vw 0vw;
    font-size: 1vw;
    color: #bcb72a;
    align-items: right;
}

.arrows {
    margin: 1vw 2vw;
    font-size: 1vw;
    align-items: right;
}

.line2 {
    width: 50vw;
    height: 7vw;
    display: flex;
    font-size: 1.5vw;
    margin-left: 1vw;
    padding-left: 1vw;
    word-spacing: 3em;
    color: #bcb72a;
    border-bottom: #918e2f solid 0.1vw;
    font-weight: 600;
}

.line3 {
    height: 3vw;
    width: 14vw;
    background-color: #bcb72a;
    margin-left: 6.5vw;
    border-radius: 50% 50% 0vw 0vw;
}

.email-container {
    padding: 0vw;
    overflow-y: scroll;
    scrollbar-color: #9b81bd;
}

.email {
    line-height: 3.2vw;
    display: flex;
    border-bottom: #dbdabd solid 0.1vw;
    margin: 0;
    font-size: 1vw;
    font-weight: 550;
    color: #333333;
}

.email-read {
    line-height: 3.2vw;
    display: flex;
    border-bottom: #c4c3a9 solid 0.1vw;
    margin: 0;
    background-color: #dbdabd;
    font-size: 1vw;

    color: #878674;
    /* font-style: italic; */
}

.star {
    font-size: 1.3vw;
    font-style: normal;
    color: #333333;
    margin: 0vw 0.5vw;
    padding-left: 1vw;
}

.arrow-list {
    font-size: 1.2vw;
    font-style: normal;
    color: #333333;
    margin: 0vw 0.5vw;
    padding-right: 1vw;
}
.words {
    /* text-align-last: right; */
    height: 3vw;
    width: 80vw;
    overflow: hidden;
}

.descriptions {
    font-style: italic;
    color: #c9c9ad;
    font-size: 1vw;
    font-weight: 100;
    text-align-last: right;
    overflow: hidden;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    color: #333333;
}

.copyright {
    font-size: 8px;
    position: fixed;
    bottom: 10px;
    color: #333333;
}

.help {
    color: #333333;
    font-size: 10px;
    padding-top: 0%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

/* The Modal (background) */

.modal {
    /* display: none; if you want to have it not pop up on loading the page */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    bottom: 0;
    right: 0;
    width: 40vw;
    /* Full width */
    height: 75vh;
    /* Full height */
    /* overflow: auto; Enable scroll if needed */
    margin-right: 10vw;
    border-radius: 2vw 2vw 0vw 0vw;
    box-shadow: 0px 0px 0.6vw 0.1vw #333333;
}

/* Modal Content/Box */
.modal-content {
    background-color: #f5efff;
    /* margin: 15% auto; 15% from the top and centered */

    width: 100%;
    /* Could be more or less, depending on screen size */
    border-radius: 2vw 2vw 0vw 0vw;
}

.modal-header {
    padding-top: 1vw;
    padding-left: 1.5vw;
    background-color: #d5c7ec;
    color: #333333;
    border-radius: 2vw 2vw 0vw 0vw;
}

.modal-body {
    padding: 1vw;
    color: #f5efff;
}

.modal-footer {
    padding: 0vw 1vw;
    color: #f5efff;
}

/* The Close Button */
.close {
    color: #c1aadf;
    float: right;
    font-size: 2vw;
    font-weight: bold;
    margin-right: 1vw;
    margin-top: 0.5vw;
}

.close:hover,
.close:focus {
    color: #9b81bd;
    text-decoration: none;
    cursor: pointer;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 2px;
    /* border: 1px solid #ccc; Gray border */
    /* border-radius: 4px; Rounded borders */
    /* box-sizing: border-box; Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: none;
    border: none;
    background-color: #f5efff;
    overflow: auto;
    scrollbar-color: #9b81bd;

}

.new {
    height: 30px;
    width: 100%;
    font-style: italic;
    font-weight: 600;
}

#country {
    border-bottom: #9b81bd solid 1px;
    text-align: right;
}

#fname, .subject2 {
    width: 80%;
    color: #c1aadf;

}
#mname, .subject2 {
    width: 80%;
    color: #c1aadf;

}

#subject {
    width: 70%;
    font-size: 14px;
    font-style: italic;
    color: #c1aadf;
}
#subject1 {
    width: 70%;
    font-size: 16px;
    color: #c1aadf;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #c1aadf;
    color: #f5efff;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #9b81bd;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    /* padding: 20px; */
    background-color: #f5efff;
    height: auto;
    margin: 0;
    border-radius: 2vw 2vw 0vw 0vw;
}

ul {
    list-style: none;
    padding-left: 0.4vw;
}