* {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50%;
    display: flex;
    /* align-items: center; */
    height: 100vh;
    color: #333333;
    flex-wrap: wrap;
    background-color: #f5f4d5;
}

header {
    height: 2vw;
    display: flex;
    padding-left: 2vw;
}

main {
    /* padding-left: 10vw; */
    /* flex: 10%; */
    /* border-radius: 20vw; */
    width: 64vw;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    color: #333333;
}

.left {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 200vh;
    background-color: #f5f4d5;
    padding: 20px;
    line-height: 40px;
    max-width: 20vw;
    flex: 1%;
}

.corner-img {
    mix-blend-mode: multiply;
    width: 20vw;
    max-width: 25vw;
}

.sidelink-home {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-home:hover {
    color: #ffb2c2;
    font-size: 3.5vw;
}

.sidelink-bio {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-bio:hover {
    color: #c1aadf;
    font-size: 3.5vw;
}

.sidelink-storyboards {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-storyboards:hover {
    color: cornflowerblue;
    font-size: 3.5vw;
}

.sidelink-animation {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-animation:hover {
    color: #c1aadf;
    font-size: 3.5vw;
}

.sidelink-resume {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-resume:hover {
    color: #e34a4a;
    font-size: 3.5vw;
}

.sidelink-contact {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-contact:hover {
    color: #6494ED;
    font-size: 3.5vw;
}

.sidelink-sketchbook {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-sketchbook:hover {
    color: #ffb2c2;
    font-size: 3.5vw;
}

.sidelink-store {
    color: #bcb72a;
    font-weight: 900;
    font-size: 3vw;
    line-height: 2vw;
}

.sidelink-store:hover {
    color: #e34a4a;
    font-size: 3.5vw;
}

#right {
    flex-wrap: wrap;
    max-height: 500vw;
    max-width: 100vw;
}

.top-right {
    height: 3vw;
    font-family: "gurkner-jump", sans-serif;
    font-style: normal;
    color: #bcb72a;
    font-size: clamp(3rem, 15vw, 50rem);
    font-weight: 400;
    margin-bottom: 0.5vw;
    padding-right: 1vw;
    /* margin-left: 8vw; */
}
/* .info {
    display: flex;
}

#profile-pic {
    border-radius: 50%;
    padding: 5vw 3vw;
    width: 10vw;
    height: 10vw;
    margin-left: 15vw;
    max-width: 25vw;
}

.numbers {
    padding-top: 0.5vw;
    padding-bottom: 2vw;
    display: flex;
    width: 80vw;
}

#bio {
    line-height: 2vw;
    font-size: 1vw;
}

.title {
    color: grey;
    font-size: 1vw;
}

.words {
    max-width: 50vw;
    min-width: 30vw;
    padding-bottom: 0.5vw;
    font-size: 1vw;
    line-height: 1vw;
}

.link {
    color: #135A90;
    font-size: 1vw;
    padding-top: 0%;
} */

.styles {
    display: flex;
    padding-bottom: 1vw;
    /* margin-left: 15vw; */
    margin-left: 30vw;
}

.spotlight {
    border-radius: 50%;
    width: 10vw;
    margin: 0.5vw;
    line-height: 1vw;
    padding-left: 2vw;
    margin-top: 17vw;
}

.link:hover {
    color: pink;
}

.spotlight>img {
    border-radius: 9vw;
    width: 8vw;
    padding: 0.5vw;
}

.gallery {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 70vw;
    grid-gap: 0.5vw;
    margin-left: 30vw;
}

.gallery img {
    width: 100%;
    border-radius: 3vw;
}

.gallery-container {
    display: none;
}

.gallery-container:nth-child(1) {
    display: block;
}

.gallery-link {
    color: #bcb72a;
    background-color: #f5f4d5;
    border-radius: 3vw;
    padding: 0.5vw;
    font-size: 1.5vw;
    font-weight: 900;
    line-height: 1vw;
}

.gallery-link:hover {
    background-color: #bcb72a;
    color: #f5f4d5;
    font-style: italic;
}

.hidden {
    display: none;
}


.copyright {
    font-size: 8px;
    position: fixed;
    bottom: 10px;
    color: #333333;
}

.help {
    color: #333333;
    font-size: 10px;
    padding-top: 0%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

p {
    font-size: clamp(1vw, 1vw, 5vw);
    margin: 0px;

}