body {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50%;
    display: flex;
    /* align-items: center; */
    height: 100vh;
    color: #333333;
    flex-wrap: wrap;
    background-color: #ECF2FD;
}

header {

    display: flex;
    max-width: 900px;
    padding-left: 200px;
    padding-bottom: 50px;
    padding-top: 100px;
}

main {
    padding-left: 10vw;
    flex: 10%;
    border-radius: 20vw;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    color: #333333;
}

.left {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 200vh;
    background-color: #ECF2FD;
    padding: 20px;
    line-height: 40px;
    max-width: 200px;
    flex: 1%;
}

.corner-img {
    mix-blend-mode: multiply;
    width: 20vw;
    max-width: 25vw;
}

.side-link1 {
    color: #6494ED;
    font-weight: 900;
    font-size:3vw;
    line-height: 2vw;
}

.side-link1:hover {
    color: #bcb72a;
}

.side-link2 {
    color: #6494ED;
    font-weight: 900;
    font-size:3vw;
    line-height: 2vw;
}

.side-link2:hover {
    color: #e34a4a;
}

.side-link3 {
    color: #6494ED;
    font-weight: 900;
    font-size:3vw;
    line-height: 2vw;
}

.side-link3:hover {
    color: #c1aadf;
}

.side-link4 {
    color: #6494ED;
    font-weight: 900;
    font-size:3vw;
    line-height: 2vw;
}

.side-link4:hover {
    color: #333333;
}

.side-link5 {
    color: #6494ED;
    font-weight: 900;
    font-size:3vw;
    line-height: 2vw;
}

.side-link5:hover {
    color: #c1aadf;
}

.side-link6 {
    color: #6494ED;
    font-weight: 900;
    font-size:3vw;
    line-height: 2vw;
}

.side-link6:hover {
    color: #bcb72a;
}

.side-link7 {
    color: #6494ED;
    font-weight: 900;
    font-size:3vw;
    line-height: 2vw;
}

.side-link7:hover {
    color: #ffb2c2;
}

#right {
    flex-wrap: wrap;

}

#profile-pic {
    border-radius: 50%;
    padding: 5vw 3vw;
    width: 120vw;
    padding-top: 4vw;
    width: 9vw;
    max-width: 25vw;
}

.numbers {
    padding-top: 10px;
    padding-bottom: 20px;
}

#bio {
    line-height: 20px;
}

.title {
    color: grey;
}

.words {
    font-size: 12px;
    size: auto;
    max-width: 20vw;
    padding-bottom: 5px;
}

.link {
    color: #135A90;
    font-size: 13px;
    padding-top: 0%;
}

.styles {
    display: flex;
    padding-bottom: 1vw;
    /* margin-left: 15vw; */
}

.spotlight {
    border-radius: 50%;
    width: 10vw;
    margin: 1vw;
    line-height: 1vw;
    padding-left: 2vw;
}

.link:hover {
    color: pink;
}

.spotlight>img {
    border-radius: 9vw;
    width: 8vw;
    padding: 0.5vw;
}

.gallery {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 70vw;
    grid-gap: 0.5vw;
}

.gallery img {
    width: 100%;
    border-radius: 3vw;
}

.gallery-container {
    display: none;
}

.gallery-container:nth-child(1) {
    display: block;
}

.gallery-link {
        color: #333333;
        background-color: #ECF2FD;
        border-radius: 3vw;
        padding: 0.5vw;
        font-size: 1.5vw;
        font-weight: 900;
        line-height: 1vw;
}
    
.gallery-link:hover {
        background-color: cornflowerblue;
        color: #ECF2FD;
        font-style: italic;
        
}

.hidden {
    display: none;
}


.copyright {
    font-size: 8px;
    position: fixed;
    bottom: 10px;
    color: #333333;
}

.help {
    color: #333333;
    font-size: 10px;
    padding-top: 0%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

h1 {
    color: #333333;
    font-size: 22px;
    font-weight: 5;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

p {
    font-size: 13px;
    margin: 0px;

}