* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50%;
    margin: auto;
    max-width: 100vw;
    background-color: #f9f5ff;
}

header {
    width: 100vw;
    height: 5vw;
    max-height: 9vw;
    max-width: 100vw;
    display: flex;
    color: #c1aadf;
}

main {
    display: flex;
}

footer {
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    color: #333333;
}
.left-side {
    padding-top: 0.8vw;
    
}
.left-nav1 {
    font-size: 3vw;
    color: #c1aadf;
    display: block;
    position:relative;
    text-align: center;
    max-width: 20vw;
    width: 20vw;
    line-height:0vw;
    padding-left: 2vw;
}
.left-nav2 {
    font-size: 3vw;
    color: #c1aadf;
    display: block;
    position:relative;
    text-align: center;
    line-height:3vw;
    max-width: 15vw;
    max-height: 20vw;
    height: 20vw;
    width: 15vw;
    padding: 2vw 2vw 4vw 2vw;
    border: 2px solid #c1aadf;
    margin-left: 2vw;
    border-radius: 2vw;
}
.left-nav2:hover {
    background-color: #c1aadf;
    color: #f5f18e;
}

.main-nav1 {
    color: #cec0e0;
}

.main-nav1:hover {
    color: #f5f18e;
}
.main-nav2 {
    color: #c1aadf;
    font-size: 5vw;
    font-style: oblique;
}

.main-nav2:hover {
    color: #cec0e0;
}

li {
    list-style: none;
}

#reel {
    
    height: 50vh;
    max-height: 10vh;
    background-color: #f9f5ff;
    border: none;
    padding: 0vw 4vw 1vw 4vw;
    width: 60vw;
    max-width: 60vw;
    opacity: 100%;
    transition: opacity 1s;
}
#reel:hover {
    opacity: 30%;
}

img {
    width: 60vw;
    border-radius: 2vw;
    margin: auto;

}

.copyright {
    color: #333333;
    font-size: 8px;
    padding-top: 0%;
    left: 20px;
    position: fixed;
    bottom: 20px;
}

.help {
    color: #333333;
    font-size: 10px;
    padding-top: 0%;
    right: 20px;
    position: fixed;
    bottom: 20px;
}

.footer:hover {
    color: #bcb72a;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}


h1 {
    color: #333333;
}

p {
    color: #333333;
}

button {
    background-color: transparent;
    border: none;

}

/* scroll bit */
.marquee {
    color: #cec0e0;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 8vw;
    overflow-x: hidden;
    font-size: 8vw;
    padding-top: 5vw;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 250s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  